<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Tracker</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/switchLang.js"></script>
</head>
<body>
    <header>
        <div class="link-container">
            <a class="header-link" href="/Home/Index"><span>← </span><span>@TaskWebApp.LocalizationFiles.TaskTracker.MainPageLink</span></a>
            <a class="header-link" href="/Home/Adminsection">@TaskWebApp.LocalizationFiles.TaskTracker.AdminSection</a>
            <div class="lang-container">
                <div class="header-link lang" data-langcode="ru-RU">ru-RU</div>
                <div class="header-link lang" data-langcode="ru-RU">en-EN</div>
            </div>
        </div>
        @if ((!User?.Identity?.IsAuthenticated) ?? true)
        {
            <a class="header-link login-link" href="/Auth/Login">@TaskWebApp.LocalizationFiles.TaskTracker.LoginButton</a>
        }
        else
        {
            <div class="link-container_right">
                <div class="username-container">
                    <img class="login-icon" src="https://media0.giphy.com/media/Tgxr8pn069Sf7mgv0e/giphy.gif?cid=ecf05e47eomc10ib8lngb0aecsa70cw47pvofqjyaye33t5z&ep=v1_gifs_related&rid=giphy.gif&ct=s" />
                    <div class="username-text">@User.Claims.FirstOrDefault(c => c.Type == "name")?.Value</div>
                </div>
                <a class="header-link logout-link" href="/Auth/Logout">@TaskWebApp.LocalizationFiles.TaskTracker.LogoutButton</a>
            </div>
            
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <footer><span>© 2024 MASHA</span></footer>
</body>
</html>