@using TaskWebApp.Models.Auth
@model AuthViewModel

@section Style
{
    <link href="~/css/site.css" rel="stylesheet" />
}


<section class="add-form add-form_login">
    <div class="add-form__container">
        <h3 class="add-form__title">@TaskWebApp.LocalizationFiles.TaskTracker.LoginTitle</h3>
        <form method="post" class="add_form__form_login">
            
            @Html.TextBoxFor(x => x.UserName, new { placeholder = @TaskWebApp.LocalizationFiles.TaskTracker.LoginName, @class = "add-form__input add-form__input_login" })
            @Html.ValidationMessageFor(x => x.UserName)
            
            @Html.TextBoxFor(x => x.Password, new { placeholder = @TaskWebApp.LocalizationFiles.TaskTracker.LoginPassword, @type = "password", @class = "add-form__input add-form__input_login" })
            @Html.ValidationMessageFor(x => x.Password)
                       
            <input class="add-form__button" type="submit" value=@TaskWebApp.LocalizationFiles.TaskTracker.LoginButton />
            
        </form>
    </div>
</section>
