@using TaskWebApp.Models
@model AddTaskViewModel

@section Style
{
    <link href="~/css/site.css" rel="stylesheet" />
}
<section class="add-form">
    <div class="add-form__container">
        <button class="delete-icon delete-icon_white"><a href="/TaskTracker/Index">&#10006</a></button>
        <h3 class="add-form__title">@TaskWebApp.LocalizationFiles.TaskTracker.AddTaskFormTitle</h3>

        <form method="post" class="add-form__form" enctype="multipart/form-data">

            @Html.TextBoxFor(x => x.Name, new { 
                placeholder = @TaskWebApp.LocalizationFiles.TaskTracker.AddTaskName, 
                @class = "add-form__input add-form__input_name" })
            @Html.ValidationMessageFor(x => x.Name)


            @Html.TextAreaFor(x => x.Description, new
                {
                    placeholder = @TaskWebApp.LocalizationFiles.TaskTracker.AddTaskDescription, 
                    @class = "add-form__input add-form__input_description" })
            @Html.ValidationMessageFor(x => x.Description)

            <label class="add-form__dropdown-label">@TaskWebApp.LocalizationFiles.TaskTracker.AddTaskPriority</label>
            @Html.DropDownListFor(x => x.Priority, 
                new SelectList(Model.PriorityOptions.Select(p => 
                    new SelectListItem 
                    { Value = p.ToString(), Text = p.ToString() }), "Value", "Text"), 
                    new { placeholder = "Приоритет", @class = "add-form__dropdown" })

            <label class="add-form__dropdown-label">@TaskWebApp.LocalizationFiles.TaskTracker.AddTaskAssignees</label>
            <label class="add-form__dropdown-tooltip">@TaskWebApp.LocalizationFiles.TaskTracker.AddTaskAssigneesToolTip</label>
            @Html.ListBoxFor(x => x.SelectedAssigneeIds, new SelectList(Model.AvailableAssignees, "Id", "Name"), new { @class = "add-form__dropdown add-form__dropdown_multiple", multiple = "multiple" })
            @Html.ValidationMessageFor(x => x.SelectedAssigneeIds)


            <input type="submit" value=@TaskWebApp.LocalizationFiles.TaskTracker.AddTaskButtonText class="add-form__button" />

        </form>

    </div>
</section>
